

* {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

body {
	background-image: url('../images/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top left;
}

.container {
	width: 95%;
	margin: 10px auto;
	background: rgba(255,255,255,0.5);
}

.dashboard {
	width: 95%;
	margin: 5px auto;
	border: 1px solid grey;
	background: rgba(0,0,0,0.7);
	border-radius: 5px;
}

<<<<<<< HEAD
.ipscan {
	display: none;
	width: 95%;
	height: 300px;
	margin: 5px auto;
	border: 1px solid grey;
	background: rgba(0,0,0,0.7);
	border-radius: 5px;
}

.iphead {
	background: #33b5e5;
	width: 100%;
}

.iphead ul li {
	color: white;
	font-size: 2em;
	display: inline;
	padding: 5px;
}

=======
>>>>>>> f1ce60a788156a189832a523ebf723823a1bac8a
.inet {
	width: 100%;
	padding: 15px;
	font-size: 1.5em;
	text-align: center;
	color: red;
}

.sbutton {
	border: none;
	width: 100%;
	font-size: 5em;
	color: navy;
	cursor: pointer;
	margin-top: 2px;
	background: linear-gradient(grey, whiteSmoke, grey);
	opacity: 0.9;
}

.ips {
	overflow: auto;
}

.title {
	color: whiteSmoke;
	background: red;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.6em;
	font-family: "Bauhaus 93";
}

.title img {
	display: none;
	width: 30px;
	height: 30px;
	float: right;
	padding-top: 3px;
	padding-right: 3px;
}

.iplist {
	height: 300px;
	overflow: auto;
}

.iplist ul li {
	font-size: 1em;
	padding: 2px;
    margin: 3px;
    background-color: #33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(255,255,255,0.12), 0 1px 2px rgba(255,255,255,0.24);
	text-align: center;
	cursor: pointer;
	display: inline-block;
	border-radius: 2px;
}

@media only screen and (min-width: 720px){
	.container {
		width: 40%;
		margin: 30px auto;
	}
	.inet {
		width: 100%;
}
